/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2d2d2d;
}

canvas {
    background-color: #e5e5e5;
    border: 2px solid #000;
}
